<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Aqui esta el usuario</title>
</head>
<body>
	<h1>Hello, <span th:text = "${username}"></span>!</h1>
	<h1>WELCOME TO MY WOLRD!</h1>
</body>
</html>